.header-wrapper {
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: lightblue;

  .first {
    margin-left: 20px;
  }

  .last {
    justify-self: end;
  }

  h1 {
    margin: 0px 20px;
    pointer-events: none;
  }
}
