<app-header [subtitle]="subtitle"></app-header>
<div class="update-user-form" *ngIf="user; else userNotFound">
  <form [formGroup]="form" class="form-wrapper">

    <mat-form-field class='form-field'>
      <mat-label>Name</mat-label>
      <input matInput formControlName='name'>
    </mat-form-field>

    <mat-form-field class='form-field'>
      <mat-label>Email</mat-label>
      <input matInput formControlName='email'>
    </mat-form-field>

    <mat-form-field class='form-field'>
      <mat-label>Occupation</mat-label>
      <mat-select formControlName='occupation'>
        <mat-option *ngFor="let occupation of OCCUPATIONS" [value]="occupation">{{occupation}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class='form-field'>
      <mat-label>Bio</mat-label>
      <textarea matInput formControlName='bio'></textarea>
    </mat-form-field>
  </form>

  <button mat-flat-button type='submit' color="accent" [disabled]="!form.valid" (click)="onSubmit()">Update user</button>
</div>

<ng-template #userNotFound>
  <div class="update-user-form">
    <h2 class="error-message">This user does not appear to exist</h2>
  </div>
</ng-template>


