.index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  .options-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 1000px;

    .new-user-button {
      padding: 20px;
    }
  }

  .table-wrapper {
    min-width: 1000px;

    .action-btn {
      margin: 0 10px;
    }
  }

  .no-match {
    font-size: xx-large;
    font-weight: bold;
    padding: 30px;
  }
}


